/*style.css*/
body {
	background-image: url(dark_parking.jpg);
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	text-shadow: 2px 2px 4px black;
	font-family: Arial, Helvetica, sans-serif; /*Text's font*/
	color: ghostwhite; /*Text's color*/
	margin: 0; /*No space around elements*/
}

h1 {
	text-align: center;
}

h2 {
	font-size: 25px;
	text-align: center; /*align the text to the center*/
}

#table1 {
	margin: 0 auto; /* Center the table both horizontally and vertically */
	margin-top: 30px;
	margin-left: 50px;
	background-color: #452c63;
	padding-right: 20px;
	padding-bottom: 50px;
	border-radius: 20px;
}

a {
	color: white;
	font-size: 25px;
}

#radio_box {
	border-radius: 10px;
	margin-right: 20px;
	margin-left: 20px;
}

#weather_table {
	background-color: darkgrey;
	display: block;
	margin-top: 150px;
	margin-right: 30px;
}

input {
	border-style: inset;
	padding: 8px;
	font-size: 12px;
	border-radius: 10px;
}

button {
	border-color: transparent; /*No border color*/
	border-radius: 5px; /*Rounded image*/
	color: white; /*Text colored white*/
    padding: 10px; /*Creates space around an element*/
	cursor: pointer; /*Mouse's cursor of the type pointer*/
	margin: 0 auto; /* Center the table both horizontally and vertically */
	margin-top: 30px;
}

#send_button {
	background-color: ForestGreen;
	box-shadow: 2px 2px #28a428, 4px 4px #5bd75b;
	margin: 0 auto; /* Center the table both horizontally and vertically */
	margin-top: 30px;
}

#remove_button {
	background-color: FireBrick;
	box-shadow: 2px 2px #da3e3e, 4px 4px #e26969;
	margin: 0 auto; /* Center the table both horizontally and vertically */
	margin-top: 30px;
}

#clean_button{
	background-color: #404040;
	box-shadow: 2px 2px #666666, 4px 4px #a6a6a6;
	margin: 0 auto; /* Center the table both horizontally and vertically */
	margin-top: 30px;
}

#change_button {
	background-color: white;
	color: black;
	box-shadow: 2px 2px whitesmoke, 4px 4px ghostwhite;
	margin: 0 auto; /* Center the table both horizontally and vertically */
	margin-top: 30px;
}

.instruction {
	font-size: 15px;
	text-align: left;
	padding-top: 20px;
}

.reserve {
	background-color: white;
	border-radius: 20px;
}

footer {
	position: absolute;
	bottom: 0px;
	float: right;
	height: 35px;
	margin: 0px 50px 0px 0px;
	color: white;
	text-align: right;
	padding: 10px 30px;
}